{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="card  card-primary card-outline p-4 m-4">

                <div class="card-header">
                    <h3 class="profile-username text-center text-muted">MULAN SMART ACTIVITY CENTER</h3>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Pv No.</b> <a class="float-right text-muted">{{order.id}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Description</b> <a class="float-right text-muted">{{order.description}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <a class="float-right text-muted">
                            {% if order.status == "pending" %}
                              <span class="badge badge-pill badge-warning">{{ order.status }}</span>
                            {% elif pvs.status == "approved" %}
                              <span class="badge badge-pill badge-primary">{{ order.status }}</span>
                           {% else %}
                              <span class="badge badge-pill badge-danger">{{ order.status }}</span>
                           {% endif %}

                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Sub Code</b> <a class="float-right text-muted">{{order.sub_account.sub_code }} -- {{order.sub_account.sub_description}}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Amount</b> <a class="float-right text-muted">{{order.amount}} </a>
                        </li>


                        <li class="list-group-item">
                            <b>Date</b> <a class="float-right text-muted">{{order.transaction_date}}</a>
                        </li>

                    </ul>
                    <div>
                        {% for group in user.groups.all %}
                        {% if group.name == 'principal' %}
                            {% if order.status == 'Pending' or order.status == 'pending' %}
                                <a class="btn btn-sm  btn-outline-primary " href="{% url 'accounts:approve' order.id %}">Approve</a>
                                <a class="btn btn-sm  btn-outline-danger ml-4" href="{% url 'accounts:cancelled' order.id %}">Cancel</a>
                            {% else %}

                            {% endif %}


                        {% elif group.name == 'account' %}
                            {% if order.status == 'Pending' %}
                                <a class="btn btn-sm  btn-outline-danger ml-4" href="{% url 'accounts:cancelled' order.id %}">Cancel</a>



                        {% endif %}
                        {% endif %}
                        {% endfor %}

                    </div>

                </div>
                <div class="card-body text-center">
                    <table class="table table-striped table-sm" id="my_friends">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>




                            </tr>
                        </thead>
                        <tbody>
                            {% for item in detail %}
                            <tr>
                                <td>{{item.description}}</td>
                                <td>{{item.amount}}</td>



                            </tr>
                            {% endfor %}
                            <tr>

                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td></td>
                                <td></td>
                            </tr>

                            <tr>


                                <td><b>Sub Total</b></td>
                                <td><b>{{order.amount}}</b> </td>

                            </tr>






                        </tbody>
                    </table>
                    <div class="form-row">
                        <div class="col text-center">
                            <a class="btn btn-outline-danger mt-2 ml-2" href="{% url 'accounts:manage_pv' %}">Close </a>

                        </div>


                    </div>
                </div>



        </div>
    </div>

</div>
{% endblock %}
