{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="p-4">


    <div class="card card-table">
        <div class="card-head pl-4 pt-4">
            <div class="make-request">
                <a class="btn btn-dark" href="{% url 'school:upload_hr_report' %}">Upload Reports<i
                        class="fas fa-plus pl-2"></i></a>


            </div>
        </div>
        <!-- table Requests -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        {% if mes %}
                        <table id="example6" class="table  table-striped table-hover col-8 text-center" role="grid"
                            aria-describedby="example2_info">
                            <thead class="request-table-head">
                                <tr role="row">
                                    <th scope="col">ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">File</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for r in mes %}
                                </tr>
                                <tr role="row" class="odd">

                                    <td>{{ r.id }}</td>
                                    <td>{{ r.upload_date}}</td>
                                    <td>{{ r.description }}</td>

                                    <td><a href="{{ MEDIA_URL }}{{r.upload_file.url}}">Uploaded File</a></td>


                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>
                        {% else %}
                        <div class="jumbotron">
                            <div class="col-md-10 mx-auto">
                              <p class="d-flex justify-content-center"><b>No Reports</b></p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>






{% endblock content %}