{% extends "base.html" %}
{% block content%}

<div class="col-lg">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-striped table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">ID
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Name</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">Status</th>


                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in profile %}
                            </tr>
                            <tr role="row" class="odd">
                                <!-- <td>{{ r.id }}</td> -->

                                <td>{{ r.user.username }}</td>
                                <td>{{ r.name }}</td>
                                <td>{{ r.user.is_active}}</td>

                                <td>
                                    <a class="btn btn-sm btn-danger"
                                            href="{% url 'school:reset_staff_password' r.id %}">
                                            Reset Password
                                    </a>
                                    <a class="btn btn-sm btn-primary"
                                            href="{% url 'school:assign_grouping' r.id %}">
                                            Change User Group
                                    </a>
                                    <a class="btn btn-sm btn-warning"
                                            href="{% url 'school:make_inactive' r.id %}">
                                            Delete
                                    </a>


                                </td>
                            </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}