{% extends "base.html" %}
{% block content%}

<div class="col-lg">
    <div class="card card-primary card-outline">
        <div class="card-body">
            {% comment %} <a class="btn btn-outline-primary btn-sm mb-1" href="{% url 'school:add_class' %}">Add Class</a> {% endcomment %}
            <h3>{{academic_term.acadamic_terms.name}}</h3>
            
          
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-striped table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead>
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Class Name</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acadamic in school_classes %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td>{{ acadamic.class_name }}</td>
                                    
                                    

                                    <td>
                                        
                                        <a class="btn btn-sm btn-primary ml-2" href="{% url 'school:create_attendance' acadamic.id  academic_term.id %}">Select</a>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}