{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
 <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline p-4 m-4">

                <form id="friend-form" role="form" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group  col-12 col-md-7">
                            <label for=""> Select Product</label>
                            {{ form.product|as_crispy_field }}
                        </div>

                        <div class="form-group mb-4 col-12 col-md-5">
                            <label for="">Quantity </label>
                            {{ form.quantity|as_crispy_field }}
                        </div>

                    </div>
                    <div class="make-request ml-2 ">
                        <button class="btn btn-dark">
                            <span class="pl-2">Add</span>
                            <i class="fas fa-plus pl-2"></i>
                        </button>

                    </div>
                </form>
                <br>
                <h4>ORDER ##{{order.id}}</h4>
                            <table class="table table-striped table-sm" id="my_friends">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Amount</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in detail %}
                                    <tr>
                                        <td>{{item.product.name}}</td>

                                        <td>{{item.quantity}}  </td>
                                        <td>{{item.unit_price}} </td>
                                        <td>{{item.gross_price}}</td>
                                        <td>


                                            <a  class = "text-danger far fa-trash-alt fa-lg ml-2" href="{% url 'shop:delete_item' item.id %}"></a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>

                                        <td></td>
                                        <td></td>
                                        <td><b>Sub Total</b></td>
                                        <td><b>{{order.gross_price}}</b> </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><b>VAT 0%</b></td>
                                        <td><b>0.00</b></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><b>Total (GH&#8373)</b></td>
                                        <td><b>{{order.gross_price}}</b></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="row">

                                <div class="col ">
                                    {% if order.ordertype == 'Jumia' %}
                                    <a class="btn btn-success mt-2 ml-2" href="{% url 'shop:checkout'  order.id %}">Pay With Cash</a>
                                    <a class="btn btn-danger  mt-2 ml-2" href="{% url 'shop:cancel_order' order.id %}">Cancel Order</a>

                                    {% else %}
                                        <a class="btn btn-success mt-2 ml-2" href="{% url 'shop:checkout'  order.id %}">Pay With Cash</a>
                                        <a class="btn btn-warning mt-2 ml-2" href="{% url 'shop:momocheckout'  order.id %}">Pay With Mobile Money</a>
                                        <a class="btn btn-danger  mt-2 ml-2" href="{% url 'shop:cancel_order' order.id %}">Cancel Order</a>
                                    {% endif %}


                                </div>

                            </div>

            </div>

        </div>
    </div>
    </div>




 </div>

{% endblock %}